<!DOCTYPE html>
<html>
	<head>
		<title>ATLAS</title>
		<link rel="stylesheet" href="../css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<!-- background video -->
		<video autoplay loop>
			<source src="../video/abstract.mp4" type="video/mp4"/>
			<source src="../video/streaks.mp4" type="video/mp4"/>
			<source src="../video/particles.mp4" type="video/mp4"/>
		</video>

		<audio controls autoplay loop>
			<source src="../audio/TheBuzzTrim.mp3" type="audio/mpeg"/>
		</audio>
		
		<div class="outer">
			<div class="inner centered">
				<div class="FormInputDiv">
					<div id="signInDiv">
						<img src="../picture/signin.png">
						<form id="signIn" action="sync.html" method="get">
							<input class="textField signInTF" id="username" type="text" placeholder="username">
							<input class="textField signInTF" id="password" type="text" placeholder="password">
							<br>
							<input type="submit" value="Continue"/>
						</form>
					</div>
					<div id="signUpDiv">
						<img src="../picture/signup.png">
						<form id="signUp" action="sync.html" method="get">
							<input class="textField signUpTF" id="firstName" type="text" placeholder="First name">
							<input class="textField signUpTF" id="lastName" type="text" placeholder="Last name">
							<br>
							<input class="textField signUpTF" id="email" type="text" placeholder="mail@email.com">
							<br>
							<input class="textField signUpTF" type="password" placeholder="original password">
							<br>
							<input class="textField signUpTF" type="password" placeholder="confirm password">
							<br>
							<input type="submit" value="Sign Up" action="sync.html"/>
						</form>
					</div>
				</div>
			</div>
			<div class="logoWrapper">
				<img id="logo" src="../picture/atlaslogo.png">
			</div>
		</div>
		<footer>
			ATLAS
		</footer>
	</body>
</html>