
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />

    <!-- VEX (Dialogs) -->
    <link rel="stylesheet" href="../static/css/vex.css" />
    <link rel="stylesheet" href="../static/css/vex-theme-os.css" />

    <!-- JQUERY UI (Dropdown Menu Suggestions, etc) -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- Personal Styles -->
    <link rel="stylesheet" href="../static/css/style.css" />
    

    <!-- Thumbnail icons. -->
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon"> 
    <link rel="apple-touch-icon" href="../static/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="../static/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="../static/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="../static/images/apple-touch-icon-144x144.png" />

    <title>Video Labels | Home</title>
</head>

<body>
    <!-- HEADER MENU -->
    <div id="header">
        <div id="logo">
            <!-- <img class="rotation animated1s" src="../static/images/logo_small.png" /> -->
            <a href="/">Video Labels </a>
        </div>
        
        <div id="wideMenu">
                <ul id="plainList">
                    <li><a href="/about"> About This </a></li>
                </ul>
        </div>

        
            <div id="wideMenu">
                <ul id="plainList">
                    <li><a href="/videos"> View my Videos </a></li>
                </ul>
            </div>
        

        <!-- Header Menu block -->
        

    </div>

    <!-- MAIN CONTENT AREA -->
    
    
<div class="container">
	
		<h2> User Videos </h2>
		<div class="videoList">
		
			
			<div class="video">
				<div class="wrapper">
					<video width="320px" height="180px" controls>
					  <source src="http://user_videos.commondatastorage.googleapis.com/segmentationvideo@gmail.com/4820477751066624/test_ab_1.mp4" type="video/mp4">
					  Your browser does not support the video tag.
					</video>
				</div>
				
				<div class="title">test_ab_1.mp4 </div>
				<div class="date">Uploaded 10/27 - 03:10PM PST </div>
				<div class="date">Model: AlexNet </div>
				<div class="view_labels">
					<a href="/video/ahJzfnZpZGVvbmV0LXByb2plY3RyGgsSDVVwbG9hZGVkVmlkZW8YgICAgK-GyAgM/">
						<button class="googleButton animated0p2s blueButton centered"> View Labels </button>
					</a>
				</div>
			</div>
			
		
			
			<div class="video">
				<div class="wrapper">
					<video width="320px" height="180px" controls>
					  <source src="http://user_videos.commondatastorage.googleapis.com/segmentationvideo@gmail.com/5073076857339904/test_ab_1.mp4" type="video/mp4">
					  Your browser does not support the video tag.
					</video>
				</div>
				
				<div class="title">test_ab_1.mp4 </div>
				<div class="date">Uploaded 10/27 - 03:12PM PST </div>
				<div class="date">Model: AlexNet </div>
				<div class="view_labels">
					<a href="/video/ahJzfnZpZGVvbmV0LXByb2plY3RyGgsSDVVwbG9hZGVkVmlkZW8YgICAgPy9gQkM/">
						<button class="googleButton animated0p2s blueButton centered"> View Labels </button>
					</a>
				</div>
			</div>
			

			
			<div class="video">
				<div class="title"> axolotl.mp4 </div>
				<div class="detail"> Size: 6881930 </div>
				<div class="detail"> Content Type: video/mp4 </div>
				<div class="detail"> Uploaded: 10/16 - 10:15PM </div>
				<div class="detail"> Model: GoogleNet </div>
				<div class="detail"> Status: Processing </div>
			</div>
		
		</div>
	
</div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-os';</script>
    

</body>

</html>